.button-ikki {
  font-family: ProximaNova;
  padding: .5rem 2rem;
  font-size: 13px;
  line-height: 1.846;
  font-weight: 400;
  color: #d9ae9d;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d9ae9d;
  background-color: transparent;
  transition: all 300ms ease;
  position: relative;
  z-index: 0;
  &:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background-color: rgb(217, 174, 157);
    top: 0;
    left: auto;
    right: 0;
    z-index: -1;
    transition: all 300ms ease;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
