@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "node_modules/owl.carousel/src/scss/owl.theme.default";
@import "node_modules/owl.carousel/src/scss/owl.theme.green";


.welcome,.about {
  .main__banner .item img {
    display: block;
    width: 100%;
    height: auto;
  }

  .slide-progress {
    width: 0;
    max-width: 100%;
    height: 1px;
    background: rgb(184, 184, 184);
  }
  .slider-counter {
    @include flex(row, nowrap, center, unset);
    width: 112px;
    margin: 1rem auto;
  }
  .slider-counter p {
    @include text(Proximanova, 11px, 1, 500, rgb(44, 39, 40));
  }
  .slider-counter .slide-current {
    margin-bottom: 0;
    margin-right: 5px;
  }
  .slider-counter .slide-length {
    margin-bottom: 0;
    margin-left: auto;
  }

  .main__banner .owl-theme .owl-nav {
    @include flex(row, nowrap, unset, space-between);
    position: absolute;
    width: 100%;
    top: 50%;
  }
  .main__banner .owl-prev {
    left: -2rem;
  }
  .main__banner .owl-next {
    right: -2rem;
  }
  .main__banner .owl-theme .owl-nav [class*="owl-"] {
    position: relative;
    outline: none;
    img {
      transition: all 0.3s ease;
    }
  }
  .main__banner .owl-theme .owl-nav [class*="owl-"]:hover {
    background: unset;
    color: unset;
    img {
      filter: brightness(0.3);
    }
  }
}
.instagram__carousel {
  .item a {
    display: contents;
  }
  .item {
    transition: all 0.3s ease;
    position: relative;
    &:hover:before {
      font-family: "Font Awesome 5 Brands";
      content: "\f16d";
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 25px;
      color: #fff;
    }
  }
  .item:hover {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
  }
}
.item__card {
  .slider-nav {
    max-height: 424px;
    .slick-slide img {
      max-height: 98px;
    }
  }

  .slider-for {
    .slick-slide img {
      margin: auto;
    }
    .slick-arrow {
      z-index: 1000;
    }
    .slick-prev {
      left: 2.5rem;
      &:before {
        font-family: "Font Awesome 5 Pro";
        content: "\f053";
        color: #adadad;
      }
    }
    .slick-next {
      right: 2.5rem;
      &:before {
        font-family: "Font Awesome 5 Pro";
        content: "\f054";
        color: #adadad;
      }
    }
  }
  .items__carousel {
    .slick-slide {
      margin: 0 10px;
    }
    .slick-list {
      margin: 0 -10px;
    }
  }
}


.items__carousel {
    opacity: 0;
    transition: all .3s ease;
    &.slick-initialized {
        opacity: 1;
    }
    .slick-slide {
        margin: 0 10px;
    }
    .slick-list {
        margin: 0 -10px;
    }
    .item__image {
        position: relative;
        img {
            width: 100%;
        }
        .favorites-add {
            .fad.fa-heart {
                position: absolute;
                bottom: 5%;
                right: 5%;
                color: #ffffff;
                transition: all .3s ease;
                &:hover {
                    transform: scale(1.2);
                }
                &:before {
                    opacity: var(--fa-primary-opacity, .5);
                }
                &:after {
                    opacity: var(--fa-secondary-opacity, .5);
                }
            }
        }
    }
    .item__colors {
        @include flex(row, nowrap, flex-start, space-between);
        max-width: 120px;
        padding: 0;
        margin: 1rem auto;
        list-style: none;
        li {
            cursor: pointer;
        }
    }
    .item__title {
        @include text(ProximaNova, 13px, 1.385, 400, rgb(120, 120, 120));
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .item__price {
        @include text(ProximaNova, 13px, 1.385, 400, #222222);
        text-transform: uppercase;
        margin-bottom: 0;
        
    }
    .item__old-price {
        @include text(ProximaNova, 13px, 1.385, 400, #222222);
        text-transform: uppercase;
        text-decoration: line-through;
        text-decoration-color: #b08177;
        margin-left: 1rem;
        margin-bottom: 0;

    }
    .item__prices {
        @include flex(row, wrap, flex-start, flex-start);
        margin-top: 1rem;
    }
}
.component-slider {
  margin-bottom: 4rem;
  .glide_sub {
      img {
          width: 100%;
      }
  }
  
  .slider__h2 {
      font-size: 24px;
      width: 50%;
      border-bottom: 1px solid $shade-black;
      margin: 3rem 0 2.7rem auto;
      padding-bottom: 13px;
  }
}

