.dropdown-menu {
    margin-top: 0;
}
.dropdown-toggle::after {
    content: unset;
    border: unset;
    vertical-align: unset;
    margin: unset;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background: #007bff;
	color: white;
}
.dropdown-menu > li.show > a{
	color: white;
}