.modal-quest{
    form{
        label{
            display: block;
            margin-top: 1.5rem;
            &:first-child{
                margin-top: 0;
            }
        }
        input{
            width: 100%;
            border-radius: 5px;
            padding: .5rem;
            border: 1px solid #d9ae9d;
        }
        textarea{
            width: 100%;
            padding: .5rem;
            min-height: 100px;
            border-radius: 5px;
            border: 1px solid #d9ae9d;
        }
    }
}