@font-face {
    src: url("../fonts/Proxima Nova Regular.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Regular Italic.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Semibold.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Semibold Italic.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Thin.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Thin Italic.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 100;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Light.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Light Italic.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Extrabold.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Extrabold Italic.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 800;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Bold.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Bold Italic.otf") format("opentype");
    font-family: ProximaNova;
    font-weight: 700;
    font-style: italic;
}
$base-color: #d9ae9d;
$second-color: #878787;
$second-color-exeception: #9a9a9a;
$shade-black: rgb(102, 102, 102);

$title-border: #c2c2c2;


//// FONT FAMILY

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/Proxima-Nova-Light.otf");
}

*{
    font-family: "ProximaNova";
}


// FONTS

$font__p: 14px;
$font__li: 14px;
$font__h3: 24px;
$font__h4: 22px;
$font__h5: 15px;
$font__span: 24px;


// FONTS  exceptions

$font__p-title: 13px;
$second-color-lighter: #e5e5e5;

$font__p-delivery: 15px;
$font__li-delivery: 15px;


$font__a-btn-contacts: 13px;

$font__span-articles:13px;
$font__a-articles: 24px;
$font__a_show-more-btn-articles: 16px;


$font__p-comments: 13px;
$font__p-name-date-comments: 13px;

$font__span-shops: 13px;
$font__p-shops: 13px;


//FOOTER

$border-top__footer: #c4c4c4;

//COMMENT 

$star-rate__unchecked : #f5e4dd;
$star-rate__checked : #e2b39f;


//SHOP

$item-bg__shop: #f5f5f5;
$item-h2-shop: 22px ;

$item-input__shop: #dddddd;

$bg-silver:#f5f5f5;
// CATALOG
/////CATALOG MENU
$font__catalog-menu__btn: 14px;
$font__catalog-menu__li: 14px;

/////CATALOG BODY > COLOR BUTTON
$catalog__body__item__color-btn:#adc2a3;

/////CATALOG BODY > BACKGROUND LABEL COLOR

$catalog__body__item__label-new-bg:#e8e8e8;
$catalog__body__item__label-new-color:#696969;
$catalog__body__item__label-sale-bg:#d9ae9d;
$catalog__body__item__label-sale-color:#ffffff;
$catalog__body__item-h3: #787878;
$catalog__body__item-item__price: #222222;
$catalog__body__item__old-price-after:#7c2d1c;


$catalog__body__filter-color:#696969;
$font__catalog__body__filter: 13px ;

/////CATALOG BODY > BACKGROUND LABEL FONT
$font__catalog__body__item: 13px ;
$font__catalog__body__item__old-price: 11px ;


/////CATALOG BODY > CATALOG FILTER FONT
$font__filter__input: 13px;

////CABINET MENU 
$font__cabinet__nav: 14px;


////PRODUCT PAGE
$product__title: #9a9a9a;
$font__product__describtion__p: 13px;
$font__product__title: 18px;

$background__product__notification-row: #f5f5f5;
$product__notification-row__h2: #666666;
$product__notification-row__h5: #545454;
$font__product__notification-row__h2: 15px;
$product__describtion: #9a9a9a;
$font__product__describtion__p: 13px;
$font__product__description__PRICE: 18px;
$product__btn: #ffffff;
$product__btn-fav: #f5f5f5;
$product__btn-fav-font: #908f8f;

$font__product__filter: 10px;

$product-inner__navs__background: #f5f5f5;
$product-inner__navs__color: #8f8f8f;

////BASKET PAGE
$basket__notification-row__p: #545454;
$font__basket__p: 13px;


$font__clearBasketEvent: 14px;
$font__submit-order__p: 13px;
$basket__submit-order__p: #989898;

$basket__submit-order__input: #b8b8b8;



////PRODUCT PAGE



