.about {
  .about__img-frame {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 360px;
    background: url(../images/about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about__title {
    border-bottom: 1px solid $title-border;
    color: $shade-black;
    margin: 2rem 0 1.5rem;
    padding-bottom: 0.5rem;
  }

  p {
    text-align: center;
    font-size: $font__p;
  }

  img {
    width: 100%;
  }

  .about__socials {
    justify-content: center;

    a {
      margin: 0 8.5px;
      position: relative;

      &:first-child {
        margin-left: 0%;
      }

      &:nth-child(1) {
        &:after {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
            url(../images/facebook.svg);
          background-repeat: no-repeat;
          background-position: center;
          left: -7px;
        }
      }

      &:nth-child(2) {
        &:after {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
            url(../images/instagram.svg);
          background-repeat: no-repeat;
          background-position: center;
          left: -3px;
        }
      }

      &:nth-child(3) {
        &:after {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
            url(../images/youtube.svg);
          background-repeat: no-repeat;
          background-position: center;
          left: 0px;
        }
      }

      &:nth-child(4) {
        &:after {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
            url(../images/whatsup.svg);
          background-repeat: no-repeat;
          background-position: center;
          left: -4px;
        }
      }

      &:nth-child(5) {
        &:after {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
            url(../images/pinterest.svg);
          background-repeat: no-repeat;
          background-position: center;
          left: -5px;
        }
      }

      svg {
        path {
          transition: all 0.3s;
        }

        &:hover {
          path {
            fill: $base-color;
          }
        }
      }
    }
  }

  .about__socials__title {
    background: url(../images/short-border.png) center 0%;
    background-repeat: no-repeat;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 1rem;
  }


    span {
      display: inline-block;
      color: $second-color;
      padding: 1.2rem 0;
      margin: 1rem 0;
      width: 100%;
      text-align: center;
      background: url(../images/short-border.png) center 0%, url(../images/short-border.png) center 100%;
      background-repeat: no-repeat;
      font-size: $font__p;
    }

  .about__text-wrapper {
    padding-top: 1rem;
    p {
      color: $shade-black;
    }
    .first-span{
        background: none;
        margin-top: 0;
        padding-top: 0;
    }
  }
}
