.catalog {
  .catalog__title--wrapper {
    @include flex(row, nowrap, center, space-between);
    border-bottom: 1px solid rgb(0, 0, 0);
    .catalog__title {
      @include text(ProximaNova, 24px, 2, 300, rgb(44, 39, 40));
      text-transform: uppercase;
      margin: 0;
    }
    .catalog__quantity {
      @include flex(row, wrap, center, space-between);
      p {
        @include text(ProximaNova, 13px, 1.846, 400, rgb(105, 105, 105));
        margin: 0;
      }
      .quantity-target {
        @include text(ProximaNova, 13px, 1.846, 400, rgb(105, 105, 105));
        border: none;
        background-color: unset;
        transition: all 0.3s ease;
        outline: none;
        &:hover {
          color: #d9ae9d;
        }
      }
    }
  }
  .catalog__body-container_collapse {
    .catalog__card {
      .catalog__card-header {
        .catalog__btn {
          @include text(ProximaNova, 14px, 2.571, 400, rgb(0, 0, 0));
          outline: none;
          padding: 0;
          padding-right: 1.3rem;
          position: relative;
          &:active,
          &:focus {
            outline: none;
            box-shadow: unset;
          }
          &:after {
            font-family: "Font Awesome 5 Pro";
            content: "\f078";
            font-size: 9px;
            position: absolute;
            line-height: 0;
            right: 0;
            top: 50%;
            transform: rotate(0deg);
            transition: all 0.3s ease;
          }
          &.collapsed {
            &:after {
              transform: rotate(-90deg);
            }
          }
        }
      }
      .catalog__card-body {
        ul {
          padding: 0;
          list-style: none;
          li {
            @include text(ProximaNova, 14px, 2.571, 400, #878787);
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
              color: #d9ae9d;
            }
          }
        }
      }
    }
  }
  .active {
    background-color: rgb(217, 174, 157);
    .filter__btns {
      color: #fff !important;
      &:after {
        content: "\f00d" !important;
        font-size: 12px !important;
      }
    }
  }
  .active-color {
    background-color: #fff;
    box-shadow: 0px 1px 7.9px 2.1px rgba(76, 76, 76, 0.03);
    .filter__btns {
      &:after {
        content: "\f078" !important;
        transform: rotate(180deg) !important;
        color: rgb(217, 174, 157) !important;
      }
    }
  }
  .catalog__body-container_filter {
    @include flex(row, wrap, flex-start, space-between);
    .fiter-category {
      width: 35%;
      transition: all 0.3s ease;
      position: relative;
      padding-left: 10px;
      .fiter-caterory-content {
        width: 100%;
        display: none;
        padding: 0;
        border: unset;
        border-radius: unset;
        padding: 12px 0px 0px;
        position: absolute;
        background-color: rgb(217, 174, 157);
        z-index: 99;
        left: 0;
        ul {
          padding: 0;
          li {
            list-style-type: none;
            a {
              padding: 7px 5px 7px 10px;
              color: #fff;
              display: block;
              &:hover {
                background-color: #cfa08d;
                text-decoration: none;
              }
            }
          }
        }
        form {
          padding: 0 10px 20px;
          label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            color: rgba(255, 255, 255, 0.502);
            margin-bottom: 20px;
            &:last-child {
              margin: 0;
            }
            input {
              width: 80%;
              text-align: right;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #fff;
              color: #fff;
              &::placeholder {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .filter__btns {
      @include text(ProximaNova, 13px, 1.846, 400, rgb(105, 105, 105));
      text-transform: uppercase;
      background-color: unset;
      outline: none;
      border: none;
      position: relative;
      padding: 0;
      width: 100%;
      text-align: left;
      &:after {
        font-family: "Font Awesome 5 Pro";
        content: "\f078";
        font-size: 9px;
        position: absolute;
        line-height: 0;
        right: 10%;
        top: 50%;
        transform: rotate(0deg);
        transition: all 0.3s ease;
      }
      &:hover{
        color: #d9ae9d;
      }
    }
    .filter-color {
      width: 25%;
      position: relative;
      .fiter-color-content {
        display: none;
        position: absolute;
        padding: 12px 5px 10px;
        z-index: 99;
        box-shadow: 0px 8px 7.9px 2.1px rgba(76, 76, 76, 0.03);
        background-color: #fff;
        span {
          .fad {
            cursor: pointer;
            font-size: 25px;
            &:after {
              opacity: 0;
              transition: all .3s ease;
            }
            &:hover:after {
              opacity: .4;
            }
          }
        }
      }
    }
  }
  .item__image {
    position: relative;
    img {
      width: 100%;
    }
    .favorites-add {
      .fad.fa-heart {
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: #ffffff;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.2);
        }
        &:before {
          opacity: var(--fa-primary-opacity, 0.5);
        }
        &:after {
          opacity: var(--fa-secondary-opacity, 0.5);
        }
      }
    }
  }
  #catalog__body-container_items {
    margin-top: 4rem;
    .item__colors {
      @include flex(row, nowrap, flex-start, space-between);
      max-width: 120px;
      padding: 0;
      margin: 1rem auto;
      list-style: none;
      li {
        cursor: pointer;
      }
    }
    .item__title {
      @include text(ProximaNova, 13px, 1.385, 400, rgb(120, 120, 120));
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 1rem;
    }
    .item__price {
      @include text(ProximaNova, 13px, 1.385, 400, #222222);
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .item__old-price {
      @include text(ProximaNova, 13px, 1.385, 400, #222222);
      text-transform: uppercase;
      text-decoration: line-through;
      text-decoration-color: #b08177;
      margin-left: 1rem;
      margin-bottom: 0;
    }
    .item__prices {
      @include flex(row, wrap, flex-start, flex-start);
      margin-top: 1rem;
    }
  }
  .pagination {
    display: flex;
    padding: 0;
    margin-top: 2rem;
    li {
      list-style: none;
      margin-right: 0.5rem;
      a {
        padding: 0.2rem 0.5rem;
        border: 1px solid #d9ae9d;
        border-radius: 3px;
        text-decoration: none;
        color: #d9ae9d;
        font-weight: bold;
        &:hover {
          color: #000;
          border-color: #000;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media only screen and (max-width: 576px){
  .catalog{
    .catalog__title--wrapper{
      display: block !important;
    }
    .catalog-item{
      margin-bottom: 1rem;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width:1300px){
  .catalog{
    .catalog__title--wrapper{
      display: block !important;
      .catalog__quantity{
        justify-content: start;
      }
    }
  }
}