.contacts {
    .contacts__title {
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2rem 0;
        padding-bottom: .5rem;
    }

    .contacts__map-container {
        width: 100%;
        height: 100%;
        display: flex;
        background-image: url(../images/contacts-map.png);
        min-height: 380px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 100%;
        background-size: cover;
    }

    .contacts__column--wrapper {

        .contacts__column--wrapper__item {
            margin-bottom: 2rem;
            padding: .5rem 0;
            &:nth-child(1) {
                background-image: url(../images/contacts-bage-1.png);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 0%;


                p {
                    text-transform: uppercase;
                    font-weight: 600;
                }

            }

            &:nth-child(2) {
                background-image: url(../images/contacts-bage-2.png);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 0%;

                a {
                    padding-left: 0rem;
                    color: inherit;
                    font-weight: 600;
                    font-size: $font__a-btn-contacts;
                    &:first-child {
                        padding-right: .3rem;
                    }

                    &:last-child {
                        padding-left: .3rem;
                    }
                }

            }

            &:nth-child(3) {
                background-image: url(../images/contacts-bage-3.png);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 0%;

                a {
                    color: $base-color;
                }

            }

            h2 {
                font-size: 18px;
                text-transform: uppercase;
                padding-left: 4rem;
                font-weight: 200;
            }

            p {
                font-size: 12px;
                padding-left: 4rem;
            }

            a {
                padding-left: 4rem;
            }

        }
    }

    .contacts__btn-feddback {
        display: inline-block;
        background: $base-color;
        color: #fff;
        padding: .6rem 3rem .6rem .5rem;
        font-size: $font__a-btn-contacts;
        background-image: url(../images/right-arrow__btn.png);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        margin-left: -4rem;
        transition: all .3s;
        border: 1px solid $base-color;
        &:hover {
            background: #fff;
            color: $base-color;
            border: 1px solid $base-color;
            background-position-x: 90%;
            background-position-y: center;
            text-decoration: none;
        }
    }
    .contacts__btn-feddback--modal{
        margin-left: 0rem;
        margin: auto;
        background-image:none;
        align-items: center;
        padding: .8rem .8rem;
        display: flex;
        &:active {
            outline: none;
        }
    }
    .modal-footer{
        border-top: none;
    }
    .modal-body{
        input{
            width: 100%;
            border: none;
            border-bottom: 1px solid $second-color;
            margin-bottom: 1rem;
            padding-left: 1rem;
            &::placeholder{
                text-align: center;
            }
            &:focus {
                outline: none;
            }
        }
        textarea{
            width: 100%;
            border: 1px solid $second-color;
            &:focus {
                outline: none;
            }
        }
    }
}