.delivery {
  .delivery__title {
    border-bottom: 1px solid $second-color;
    color: $shade-black;
    padding-bottom: 0.5rem;
    margin: 2rem 0 1.5rem;
  }
  .delivery__info__title {
    color: $shade-black;
    font-size: $font__h3;
    margin-bottom: 1rem;
  }
  .delivery__text-block--wrapper {
    color: $second-color;
    position: relative;
    ul {
      list-style: none;
      font-size: $font__li-delivery;
      padding-left: 1.5rem;
      margin-bottom: 0rem;

      li {
        position: relative;
        color: $shade-black;
        font-weight: 600;

        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          left: -25px;
          top: 8.5px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $base-color;
        }
      }
    }
    p {
      font-size: $font__p-delivery;
      margin-bottom: 1.5rem;
      a {
        color: $base-color;
      }
      span {
        font-weight: 600;
        color: $shade-black;
      }
    }

    .delivery__title--wrap {
      display: flex;
      margin: 2rem 0;
      p {
        margin-bottom: 0;
        padding-top: 0.5rem;
        margin-left: 1rem;
      }
    }
    h3 {
      color: #000;
    }
  }
  .delivery-input {
    form {
      display: flex;
      justify-content: space-between;
      input[name="text"] {
        @include text(ProximaNova, 14px, 2, 400, rgb(154, 154, 154));
        width: 18%;
        border: none;
        padding-left: 10px;
        border-bottom: 1px solid #878787;
        &::-webkit-input-placeholder {
          text-align: left;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          text-align: left;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          text-align: left;
        }

        &:-ms-input-placeholder {
          text-align: left;
        }
      }
      .subscription__button-inp {
        @include text(ProximaNova, 13px, 1.846, 400, #fff);
        text-transform: uppercase;
        text-align: center;
        border: 1px solid rgb(217, 174, 157);
        background-color: rgb(217, 174, 157);
        min-height: 32px;
        width: 16%;
        transition: all 300ms ease;
        position: relative;
        z-index: 0;
        &:before {
          position: absolute;
          content: "";
          width: 0%;
          height: 100%;
          background-color: #fff;
          top: 0;
          left: auto;
          right: 0;
          z-index: -1;
          transition: all 300ms ease;
        }
        &:hover {
          color: rgb(217, 174, 157);
          &:before {
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
  .result-delivery {
    margin: 4rem 0;
    h3 {
      margin-bottom: 2rem;
    }
    p {
      &:first-child {
        margin-bottom: 2rem;
      }
    }
    b {
      color: #000;
    }
  }
}
