.welcome {
    .catalog__title {
        @include text(ProximaNova, 24px, 2, 400, rgb(44, 39, 40));
        @include flex(unset, unset, unset, flex-end);
        width: 100%;
        text-transform: uppercase;
        border-bottom: 1px solid black;
        margin: 3rem 0;
    }
    .catalog__item {
        position: relative;
        &:after {
            @include text(ProximaNova, 16px, 1.5, 400, rgb(44, 39, 40));
            content: attr(data-title);
            position: absolute;
            right: 7.5%;
            top: 100px;
            transform: rotate(-90deg);
            width: 0;
            height: 0;
        }
        img {
            width: 100%;
        }
    }
}
.instagram__title {
    @include text(ProximaNova, 28px, 2, 400, rgb(44, 39, 40));
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin: 3rem 0;
}