.item__card-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    right: 0;
    position: relative;
    transition: all .3s ease;
    &.slide__right {
        transition: all .3s ease;
        right: 37%;
        .header .user__cabinet {
            right: 42%;
        }
    }
    &::-webkit-scrollbar {
        width: 11px;
      }
      
      &::-webkit-scrollbar-track {
        background: transparent;
        -webkit-box-shadow: transparent;
        padding-right: .5rem;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #d9ae9d;
        outline: 1px solid #d9ae9d;
        border-radius: 14px;
      }
}
.item__card {
    .title {
        @include text(ProximaNova, 15px, 2, 400, rgb(102, 102, 102));
        @include flex(row, wrap, center, center);
        text-transform: uppercase;
        margin: 0;
        background-color: rgb(245, 245, 245);
        min-height: 39px;
        cursor: default;
    }
    .item__information {
        .title {
            background: initial;
            min-height: initial;
            display: block;
            width: 70%;
            margin-bottom: .5rem;
        }
        .parametrs__wrapper {
            @include flex(column, nowrap, flex-start, flex-start);
            label {
                @include text(ProximaNova, 12px, 1.333, 400, #696969);
                text-transform: uppercase;
            }
            span {
                @include text(ProximaNova, 12px, 1.333, 400, #696969);
                text-transform: uppercase;
            }
        }
        .item__description {
            margin-top: 2.5rem;
            p {
                @include text(ProximaNova, 12px, 1.32, 400, rgb(154, 154, 154));
            }
            .item__price {
                @include text(ProximaNova, 18px, 1.667, 400, rgb(117, 117, 117));
                margin-top: 2rem;
                text-transform: uppercase;
            }
        }
        .basket-add {
            @include text(ProximaNova, 14px, 1.714, 400, rgb(255, 255, 255));
            max-width: 210px;
            min-height: 34px;
            width: 100%;
            background-color: rgb(217, 174, 157);
            border: none;
            text-transform: uppercase;
            outline: none;
        }
        .favorites-add {
            @include text(ProximaNova, 14px, 1.714, 400, rgb(143, 143, 143));
            @include flex(row, nowrap, center, space-evenly);
            max-width: 210px;
            min-height: 34px;
            width: 100%; 
            background-color: rgb(245, 245, 245);
            border: none;
            text-transform: uppercase;
            position: relative;
            outline: none;
            &:before {
                font-family: 'Font Awesome 5 Pro';
                content: '\f004';
                font-size: 19px;
            }
        }
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0;
        padding-right: 18px;
    }
    .select2-container--default .select2-selection--single {
        @include flex(row, nowrap, center, unset);
        border: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{
        display: none !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: unset;
        position: absolute;
        top: 0;
        
        width: 100%;
        height: 100%;
        &:hover:after {
            top: 35%;
        }
        &:after {
            font-family: 'Font Awesome 5 Pro';
            content: '\f078';
            font-size: 9.5px;
            position: absolute;
            right: 0;
            top: 15%;
            transition: all .25s ease-out;
        }
    }
    .extra {
        .nav-item {
            .nav-link {
                @include text(ProximaNova, 14px, 1.714, 400, rgb(144, 143, 143));
                text-transform: uppercase;
                background-color: rgb(245, 245, 245);
                max-height: 34px;
                border-radius: 0;
                &.active {
                    border-width: 1px;
                    border-color: rgb(245, 245, 245);
                    border-style: solid;
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
    .cd-basket {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        visibility: hidden;
        -webkit-transition: visibility 0s 0s;
        transition: visibility 0s 0s;
        z-index: 100000;
    }
      
    .cd-basket.cd-basket--is-visible {
        visibility: visible;
        -webkit-transition: visibility 0s 0s;
        transition: visibility 0s 0s;
    }
      
    .cd-basket__header {
        @include flex(row, nowrap, center, flex-start);
        position: fixed;
        width: 90%;
        height: 82px;
        z-index: 2;
        padding: 0 5%;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        -webkit-transition: -webkit-transform 0.3s 0s;
        transition: -webkit-transform 0.3s 0s;
        transition: transform 0.3s 0s;
        transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100);
                transform: translateY(-100);
    }
      
    .cd-basket__header h1 {
        @include text(ProximaNova, 24px, 2, 400, rgb(44, 39, 40));
        text-transform: uppercase;
    }
      
    .cd-basket--from-right .cd-basket__header {
        right: 0;
    }
      
    .cd-basket--from-left .cd-basket__header {
        left: 0;
    }
      
    .cd-basket--is-visible .cd-basket__header {
        -webkit-transition: -webkit-transform 0.3s 0.3s;
        transition: -webkit-transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
      
    @media only screen and (min-width: 768px) {
        .cd-basket__header {
          width: 70%;
        }
    }
      
    @media only screen and (min-width: 1170px) {
        .cd-basket__header {
          width: 35%;
        }
    }
      
    .cd-basket__close {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 77px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        background-color: rgb(245, 245, 245);
        -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.08);
                box-shadow: -1px 0 1px rgba(0, 0, 0, 0.08);
    }
      
    .cd-basket__close::before, .cd-basket__close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 40%;
        height: 1px;
        width: 20px;
        background-color: #424f5c;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }
      
    .cd-basket__close::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
      
    .cd-basket__close::after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .cd-basket__container {
        position: fixed;
        width: 90%;
        height: 100%;
        top: 0;
        background: rgb(255, 255, 255);
        z-index: 1;
        -webkit-transition: -webkit-transform 0.3s 0.3s;
        transition: -webkit-transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
        -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.08);
        box-shadow: -1px 0 1px rgba(0, 0, 0, 0.08);
    }
      
    .cd-basket--from-right .cd-basket__container {
        right: 0;
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
      
    .cd-basket--from-left .cd-basket__container {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
      
    .cd-basket--is-visible .cd-basket__container {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
      
    @media only screen and (min-width: 768px) {
        .cd-basket__container {
            width: 70%;
        }
    }
      
    @media only screen and (min-width: 1170px) {
        .cd-basket__container {
            width: 35%;
        }
    }
      
    .cd-basket__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20% 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            width: 11px;
          }
          
          &::-webkit-scrollbar-track {
            background: transparent;
            -webkit-box-shadow: transparent;
            padding-right: .5rem;
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: #d9ae9d;
            outline: 1px solid #d9ae9d;
            border-radius: 14px;
          }
          .total__price {
              @include text(ProximaNova, 16px, 1, 400, rgb(84, 84, 84));
              text-transform: uppercase;
              text-align: center;
              margin-top: 5rem;
          }
          .pay {
                @include text(ProximaNova, 14px, 1.714, 400, rgb(255, 255, 255));
                text-transform: uppercase;
                background-color: rgb(217, 174, 157);
                width: 100%;
                border: none;
                min-height: 34px;
                outline: none;
          }
    }
    
    .cd-basket__content {
        .cd-basket__item {
            @include flex(row, wrap, center, space-between);
            padding: 0 5%;
            .cd-basket__item-description {
                @include text(ProximaNova, 12px, 2.5, 400, rgb(84, 84, 84));
                text-transform: uppercase;
                max-width: 190px;
                margin-bottom: 0;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input#count {
                border: none;
                max-width: 40px;
                text-align: center;
                cursor: pointer;
                @include text(ProximaNova, 14px, 1.143, 400, rgb(84, 84, 84));
            }
            .value-button {
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cd-basket__item-countNprice {
                @include flex(column, nowrap, flex-start, space-between);
                min-height: 50px;
                .price {
                    @include text(ProximaNova, 14px, 1.143, 400, rgb(84, 84, 84));
                    margin-bottom: 0;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    text-transform: uppercase;
                }
            }
            form {
                min-width: 70px;
                @include flex(row, wrap, center, space-between)
            }
        }
        
    }
}
.item__status {
    @include flex(row, wrap, center, flex-start);
    .item__status__label--sale {
        @include text(ProximaNova, 13px, 0, 400, rgb(255, 255, 255));
        @include flex(row, wrap, center, center);
        text-transform: uppercase;
        background-color: rgb(217, 174, 157);
        min-width: 63px;
        min-height: 17px;
        cursor: default;
    }
    .item__status__label--new {
        @include text(ProximaNova, 13px, 0, 400, #696969);
        @include flex(row, wrap, center, center);
        text-transform: uppercase;
        background-color: #e8e8e8;
        min-width: 63px;
        min-height: 17px;
        cursor: default;
    }
    
}
.select2-container--open .select2-dropdown--below {
    border: none !important;
}
.select2-container--open .select2-dropdown--above {
    border: none !important;
}
.select2-results__option {
    @include text(ProximaNova, 12px, 2, 400, rgb(84, 84, 84));
    padding-left: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: transparent;
    color: initial;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background: transparent;
}
