.personal {
    h1.title {
        @include text(ProximaNova, 24px, 2, 400, rgb(44, 39, 40));
        text-transform: uppercase;
        border-bottom: 1px solid #c4c4c4;
        margin-bottom: 2rem;
    }
    .edit {
        @include text(ProximaNova, 14px, 1.714, 400, rgb(105, 105, 105));
        background-color: unset;
        border: 0;
        outline: none;
        position: relative;
        &:before {
            font-family: 'Font Awesome 5 Pro';
            content: '\f044';
            right: 100%;
            position: absolute;
            color: #dab9ab;
        }
        span {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: auto;
                right: 0;
                height: 5%;
                width: 0%;
                background: rgb(105, 105, 105);
                z-index: -1;
                transition: all 300ms ease;
            }
        }
        &:hover {
            span:before {
                content: '';
                width: 100%;
                left: 0;
                right: 0;
            }
        }
    }
    .nav.nav-pills {
        .nav-link {
            @include text(ProximaNova, 14px, 2.857, 400, rgb(0, 0, 0));
            transition: all .3s ease;
            text-transform: uppercase;
            background-color: unset;
            padding: 0;
            &:hover {
                color: rgb(217, 174, 157);
            }
            &.active {
                color: rgb(217, 174, 157);
            }
        }
    }
    .tab-content {
        h2.title {
            @include text(ProximaNova, 14px, 1.714, 400, rgb(102, 102, 102));
            text-transform: uppercase;
        }
        .form-group {
            @include flex(row, wrap, center, space-between);
            label {
                @include text(ProximaNova, 13px, 1.846, 400, rgb(152, 152, 152));
                margin-bottom: 0;
            }
            .form-control {
                @include text(ProximaNova, 13px, 1.846, 400, rgb(101, 101, 101));
                border: 1px solid rgb(220, 220, 220);
                border-radius: 0;
                outline: none;
                max-width: 251px;
                &:focus, &:active, &:hover {
                    outline: none;
                    box-shadow: unset;
                }
            }
            .select2-container {
                max-width: 251px;
            }
            .select2-container--default .select2-selection--single {
                @include text(ProximaNova, 13px, 1.846, 400, rgb(101, 101, 101));
                border: 1px solid rgb(220, 220, 220);
                border-radius: 0;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow:after {
                font-family: 'Font Awesome 5 Pro';
                content: '\f078';
                font-size: 9.5px;
                transform: rotate(0deg);
                transition: all .3s ease;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow b {
                display: none !important;
            }
            .select-wrapper {
                @include flex(row, wrap, flex-start, space-between);
                max-width: 251px;
                width: 100%;
                &.birthdate {
                    .select2-container {
                        max-width: 76px;
                    }
                }
                &.address {
                    .address-wrapper {
                        @include flex(column, nowrap, flex-start, space-between);
                        width: 100%;
                        max-width: 117px;
                        
                    }
                    input {
                        max-width: 117px;
                    }
                }
            }
            .add__container {
                max-width: 251px;
                width: 100%;
            }
            .add-more {
                @include text(ProximaNova, 14px, 1.714, 400, rgb(217, 174, 157));
                border: none;
                background-color: unset;
                outline: none;
                position: relative;
                padding: 0 1.5rem;
                &:focus, &:active, &:hover {
                    outline: none;
                }
                &:before {
                    content: '+';
                    position: absolute;
                    left: 0;
                }
            }
            .save {
                @include text(ProximaNova, 14px, 1.714, 400, rgb(255, 255, 255));
                background-color: rgb(217, 174, 157);
                max-width: 210px;
                width: 100%;
                border: none;
                height: 34px;
                &:focus, &:active, &:hover {
                    outline: none;
                }
            }
        }
        .order__header {
            background-color: rgb(245, 245, 245);
            padding: .5rem 0;
            align-items: center;
            .order__number-title, .order__by-date, .order__count-title, .order__by-status {
                @include text(ProximaNova, 13px, 1.846, 600, rgb(44, 39, 40));
                text-decoration: none;
                margin: 0;
                position: relative;
            }
            .order__by-date {
                &:after {
                    font-family: 'Font Awesome 5 Pro';
                    content: '\f078';
                    position: absolute;
                    left: 115%;
                    top: 50%;
                    font-size: 9px;
                    color: #dab1a1;
                    line-height: 0;
                }
            }
            .order__by-status {
                &:after {
                    font-family: 'Font Awesome 5 Pro';
                    content: '\f078';
                    position: absolute;
                    left: 115%;
                    top: 50%;
                    font-size: 9px;
                    line-height: 0;
                }
            }
        }
        .order__info {
            padding: .5rem 0;
            cursor: pointer;
            border-bottom: 1px solid rgb(230, 230, 230);
            &:hover {
                .order__number, .order__date, .order__count, .order__status {
                    color: rgb(44, 39, 40);
                }
            }
            .order__number, .order__date, .order__count, .order__status {
                @include text(ProximaNova, 13px, 1.846, 400, rgb(152, 152, 152));
                transition: all .3s ease;
                margin: 0;
                white-space: nowrap;
            }
        }
        .bonus__header {
            background-color: rgb(245, 245, 245);
            padding: .5rem 0;
            align-items: center;
            .bonus__name-title, .bonus__status-title, .bonus__date-title {
                @include text(ProximaNova, 13px, 1.846, 600, rgb(44, 39, 40));
                text-decoration: none;
                margin: 0;
                position: relative;
            }
        }
        .bonus__info {
            padding: .5rem 0;
            border-bottom: 1px solid rgb(230, 230, 230);
            &.active {
                .bonus__date, .bonus__name, .bonus__status {
                    color: rgb(44, 39, 40)
                }
                .bonus__use {
                    display: block;
                }
            }
            .bonus__date, .bonus__name, .bonus__status {
                @include text(ProximaNova, 13px, 1.846, 400, rgb(152, 152, 152));
                transition: all .3s ease;
                margin: 0;
                white-space: nowrap;
            }
            .bonus__use {
                @include text(ProximaNova, 14px, 1.714, 400, rgb(217, 174, 157));
                text-transform: uppercase;
                text-decoration: none;
                display: none;
            }
        }
    }
}