.questions {
  .questions__title--wrap {
    display: flex;
    border-bottom: 1px solid $title-border;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
    .questions__title {
      font-size: $font__h3;
      color: $shade-black;
    }

    .questions__ask {
      color: $shade-black;
      font-size: $font__p-title;
      margin-bottom: 0rem;
      padding-top: 0.5rem;
      font-weight: 600;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -1.2rem;
        top: 10px;
        width: 15px;
        height: 15px;
        background-image: url(../images/information.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .accordion--wrapper {
    .accordion {
      .card {
        border: none;
        border-bottom: 1px solid $second-color-lighter;
        .card-header {
          background-color: transparent;
          border-bottom: none;
          margin-bottom: 0;
          display: flex;
          position: relative;
          .btn {
            color: $second-color;
            transition: all 0.3s;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 2.2rem;
          }
          span {
            font-size: $font__span;
            padding-top: 5px;
            transition: all 0.3s;
          }
          &:focus {
            &::after {
              transition: all 0.3s ease;
              transform: rotate(90deg);
            }
          }
          &:hover {
            .btn {
              text-decoration: none;
              color: $shade-black;
            }
          }

          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 1rem;
            top: 34px - 14px;
            width: 2px;
            height: 28px;
            background-color: $base-color;
            transition: all 0.3s;
          }
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            right: 1rem;
            top: 34px - 14px;
            width: 2px;
            height: 28px;
            background-color: $base-color;
            transform: rotate(90deg);
          }
        }
        .card-body {
          border-top: none;
          color: $second-color;
          padding: 0 0 2rem;
        }

        .collapse-sign {
          &::after {
            transform: rotate(90deg);
          }
        }

        .highlightNumber {
          span {
            color: $base-color;
          }
        }
      }
    }
  }
}

.active-drop {
  &::after {
    transition: all 0.3s ease !important;
    transform: rotate(90deg) !important;
  }
}


@media only screen and (max-width: 576px){
  .card-header{
    .btn{
      text-align: left;
      padding: 0 0 0 .5rem !important;
      font-size: 12px;
    }
  }
}