.vacancy {
    .vacancy__title {
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2rem 0;
    }

    .vacancy__about {
        color: $second-color;
        position: relative;

        ul {
            list-style: none;
            font-size: $font__li;
            padding-left: 1rem;

            li {
                position: relative;

                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: -15px;
                    top: 8.5px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $base-color;

                }
            }
        }

        p {
            font-size: $font__p;

            a {
                color: $base-color;
            }
        }


    }

    .vacancy__description {
        color: $shade-black;
        margin: 1.8rem 0;
    }

    .vacancy__job {
        color: $shade-black;
        font-size: $font__h4;
        margin-bottom: 1rem;
    }


    h5 {
        font-size: $font__h5;
        text-transform: uppercase;
    }

    .vacancy__block {
        margin-bottom: 2.5rem;
    }

    .vacancy__contacts {

        .vacancy__contact-title {
            color: $shade-black;
            font-size: $font__h4;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        .vacancy__contacts__person {
            p {
                margin-bottom: 0;
                a{
                    color: $shade-black;
                    font-weight: 700;
                }
            }
        }
    }
}