.footer {
    .footer__separator {
        padding-top: 2.3rem;
        border-top: 1px solid #c4c4c4;
    }
    h2 {
        @include text(ProximaNova, 13px, 1.846, 400, rgb(110, 110, 110));
        text-transform: uppercase;
        cursor: default;
    }
    a {
        @include text(ProximaNova, 13px, 1.846, 400, rgb(110, 110, 110));
        text-decoration: none;
        transition: all .3s ease;
        &:hover {
            color: #d9ae9d;
        }
    }
    p {
        @include text(ProximaNova, 13px, 1.846, 400, rgb(110, 110, 110));
    }
    .footer__subscription {
        h2 {
            text-align: center;
        }
        .subscription__form {
            min-height: 77px;
            @include flex(column, nowrap, unset, space-between);
            input[name=email] {
                @include text(ProximaNova, 12px, 2, 400, rgb(154, 154, 154));
                width: 100%;
                border: none;
                border-bottom: 1px solid #878787;
                &::-webkit-input-placeholder {
                    text-align: center;
                 }
                 
                &:-moz-placeholder { /* Firefox 18- */
                    text-align: center;  
                }
                
                &::-moz-placeholder {  /* Firefox 19+ */
                    text-align: center;  
                }
                 
                &:-ms-input-placeholder {  
                    text-align: center; 
                }
            }
            .subscription__button {
                @include text(ProximaNova, 13px, 1.846, 400, rgb(217, 174, 157));
                text-transform: uppercase;
                text-align: center;
                border: 1px solid rgb(217, 174, 157);
                background-color: transparent;
                min-height: 32px;
                width: 100%;
                transition: all 300ms ease;
                position: relative;
                z-index: 0;
                &:before {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 100%;
                    background-color: rgb(217, 174, 157);
                    top: 0;
                    left: auto;
                    right: 0;
                    z-index: -1;
                    transition: all 300ms ease;
                }
                &:hover {
                    color: #fff;
                    &:before {
                        width: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
            & + p {
                @include text(ProximaNova, 10px, 1.6, 400, rgb(110, 110, 110));
                text-align: center;
                margin-bottom: 0;
                margin-top: .7rem;
                a {
                    @include text(ProximaNova, 10px, 1.6, 400, rgb(217, 174, 157));
                    text-decoration: underline;
                }
            }
        }
    }
    .footer__socials {
        &:after {
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
        }
        a {
            font-family: initial;
            font-size: initial;
            line-height: initial;
            font-weight: initial;
            color: initial;
            text-decoration: initial;
            transition: initial;
            margin: 0 8.5px;
            position: relative;
            &:hover {
                i {
                    color: #d9ae9d;
                }
                &:after {
                    color: #d9ae9d;
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:after {
                transition: all .3s ease;
                transform: rotateX(180deg);
                position: absolute;
                top: 100%;
                left: 0;
            }
            &:nth-child(1):after {
                font-family: 'Font Awesome 5 Brands';
                content: '\f39e';
            }
            &:nth-child(2):after {
                font-family: 'Font Awesome 5 Brands';
                content: '\f16d';
            }
            &:nth-child(3):after {
                font-family: 'Font Awesome 5 Brands';
                content: '\f167';
            }
            &:nth-child(4):after {
                font-family: 'Font Awesome 5 Brands';
                content: '\f232';
            }
            &:nth-child(5):after {
                
                font-family: 'Font Awesome 5 Brands';
                content: '\f231';
            }
            i {
                font-size: 16px;
                transition: all .3s ease;
            }
        }
    }
}