html {
  scroll-behavior: smooth;
}
.bread__crumbs {
  a {
    @include text(ProximaNova, 10px, 3, 400, rgb(102, 102, 102));
    text-transform: uppercase;
    position: relative;
    padding-right: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: #d9ae9d;
    }
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 10px;
      background: #878787;
      right: 0;
      top: 0;
    }
    &:nth-child(n + 2) {
      padding: 0 8px;
    }
  }
  span {
    @include text(ProximaNova, 10px, 3, 400, rgb(102, 102, 102));
    text-transform: uppercase;
    padding-left: 8px;
  }
}
.header {
  .logo {
    display: contents;
    img {
      width: auto;
      max-width: 69px;
      max-height: 44px;
    }
  }
  #main_navbar {
    padding: 0;
    height: 100%;
    .navbar-nav {
      @include flex(row, wrap, center, space-between);
      width: 100%;
      .dropdown-menu {
        background-color: rgb(217, 174, 157);
        padding: 0;
        border: unset;
        border-radius: unset;
        min-width: 164px;
        .dropdown-item {
          @include text(ProximaNova, 14px, 2.571, 400, rgb(255, 255, 255));
          text-transform: uppercase;
          width: 65%;
        }
        & > li a:hover,
        & > li.show,
        & > li a:focus {
          background: unset;
        }
        .dropdown-item.dropdown-toggle {
          position: relative;
          &:after {
            content: url("../images/arrow-right.png");
            position: absolute;
            right: 0;
          }
        }
      }
    }
    .nav-link {
      @include text(ProximaNova, 14px, 1.714, 400, rgb(135, 135, 135));
      text-transform: uppercase;
      padding: 0 0.5rem;
      position: relative;
      &:after {
        content: url("../images/arrow-down.png");
        line-height: 0;
        position: absolute;
        left: 100%;
        top: 9px;
      }
    }
  }
  .user__cabinet {
    position: fixed;
    width: 0;
    right: 5%;
    z-index: 1000;
    @include flex(column, nowrap, flex-end, space-between);
    height: 160px;
    transition: all .3s ease;
    .user__cabinet-item {
      transition: all 0.3s ease;
      &:nth-child(n + 2):hover {
        background-color: rgb(217, 174, 157);
        span {
          opacity: 1;
        }
        i {
          color: #fff;
        }
      }
      &:first-child {
        min-width: 130px;
      }
      min-width: 120px;
      a {
        @include flex(row, nowrap, center, space-around);
        text-decoration: none;
        width: 100%;
        min-height: 34px;
        p {
          @include text(ProximaNova, 12px, 2, 500, rgb(135, 135, 135));
          min-width: 67%;
          transition: all 0.3s ease;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;
          position: relative;
          &:before {
            content: url(../images/arrow-down.png);
            line-height: 0;
            position: absolute;
            right: 105%;
            top: 40%;
          }
        }
        span {
          @include text(ProximaNova, 12px, 2, 500, rgb(255, 255, 255));
          min-width: 67%;
          transition: all 0.3s ease;
          display: flex;
          justify-content: flex-end;
          opacity: 0;
        }
      }
    }
    i {
      transition: all 0.3s ease;
      font-size: 20px;
      color: #a9a9a9;
    }
  }
}
.user__cabinet-search {
  overflow-x: hidden;
  display: flex;
  align-items: flex-end;
  padding: 2px;
  min-height: 34px;
  input {
    opacity: 0;
    transition: all 0.5s ease;
    padding: 0 0.5rem 0 0.5rem;
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    height: 30px;
    display: none;
    &:focus {
      opacity: 1;
      background-color: #fff;
      display: block;
    }
  }
  a {
    i {
      margin-left: 0.5rem;
    }
  }
  &:focus-within {
    background-color: rgb(217, 174, 157);
    i {
      color: #fff;
    }
  }
  &:hover {
    background-color: rgb(217, 174, 157);
    input {
      opacity: 1;
      display: block;
    }
    i {
      color: #fff;
    }
  }
}
