body::-webkit-scrollbar {
    width: 11px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: transparent;
    padding-right: .5rem;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #d9ae9d;
    outline: 1px solid #d9ae9d;
    border-radius: 14px;
  }